/node_modules
/public/hot
/public/storage
/public/logrequest.txt
/public/logresponse.txt
/public/risworklist.xml
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log